@font-face {
    font-family: "Inter-Regular";
    src: url(assets/fonts/static/Inter-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Inter-SemiBold";
    src: url(assets/fonts/static/Inter-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Inter-Bold";
    src: url(assets/fonts/static/Inter-Bold.ttf);
    font-weight: 700;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    background-color: hsl(0, 0%, 8%);
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

.profile-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    padding: 20px;
    background-color: hsl(0, 0%, 12%);
    border-radius: 20px;
}

.profile-links-container img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 25px;
}

.username {
    font-weight: 700;
    margin-bottom: 10px;
}

.location {
    color: hsl(75, 94%, 57%);
    font-weight: 600;
    margin-bottom: 30px;
}

.description {
    color: hsl(0, 0%, 80%);
    margin-bottom: 20px;
}

.links-container {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.links-container a {
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: hsl(0, 0%, 20%);
    font-weight: 600;
    border-radius: 5px;
}

.links-container a:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
    transition: 0.3s;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .profile-links-container {
        width: 50%;
    }
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .profile-links-container {
        width: 60%;
    }
}
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .profile-links-container {
        width: 80%;
    }
}